@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  height: 2px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353535;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f30e5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #542ac7;
}
